<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Iniciar sesión" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Registrarse" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="Menu" />
        <activity
            android:name=".CarritoActivity"
            android:exported="true"
            android:label="Carrito de la compra" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:label="perfil de usuario" />
        <activity
            android:name=".InfoPersonalActivity"
            android:exported="true"
            android:label="Informacion personal" />
        <activity
            android:name=".PagoActivity"
            android:exported="true"
            android:label="Pago del usuario" />
        <activity
            android:name=".CuinaActivity"
            android:exported="true"
            android:label="Confirmacion de la cocina" />
        <activity
            android:name=".HistorialComandesActivity"
            android:exported="true"
            android:label="Historial de las comandas" />
        <activity
            android:name=".EstatComandaActivity"
            android:exported="true"
            android:label="Estat de la comanda" />
    </application>

</manifest>
